__pycache__/
*.pyc
*.pyo
*.deb
*.log
*.bak
*.DS_Store
*.swp
*.zip
venv/
.venv/
.venv-*/

src/stegx/_version.py

build/
dist/
*.egg-info/

docs/build/
docs/warnings.txt
docs/source/api/_autosummary/

bandit-report.json
sbom.json
sbom.xml
output.txt

aur_pubkey.txt
aur_key*
*.pem
*_rsa
*_ed25519
output_directory/
.claude
snyk.exe
snyk

secret.txt
stego.png
stegx/stego.png
stegx/secret.txt
stegx/Stegx_Github.*
.vscode/
